@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto+Mono:ital,wght@0,300;1,400&display=swap');
  
  /* CSS variables */
   :root{

    /* ======= Colors ========*/
    --first-color: #031525;
    --second-color: #89eeee; 
    --text-color: #fff;
    --text-2nd-color: #d3d3d3; 
    
    /* ======= Fonts ========*/
    --first-font: 'Fira Sans', sans-serif;
    --text-font: 'Roboto Mono', monospace;
    /* ======= Weight ========*/
    --semi-bold: 300;
    --bold:400
    /* ======= font-style ========*/
    --italic: italic;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: var(--first-color);
  font-family: var(--text-font);
  color: var(--text-color);
}


html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4 {
  font-family: var(--first-font);
  color: var(--second-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3rem 0 2.5rem;
}

.flex{
  display: flex;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.container {
  max-width: 968px;
}

/*=============== HEADER ===============*/
/* NAV */
@media screen and (max-width: 767px){


.nav_toggle{
  position: fixed;
  font-size: 1.5rem;
  cursor: pointer;
  right: 1rem;
  bottom: 2.5%;
  z-index: 20;
}
.nav_list{
  position:fixed;
  height: 17vh;
  column-gap: 4rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-color: #0e263b;
  margin: 1rem;
  padding: 1rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  bottom: -100%;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 3px -6px 42px 8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px -6px 42px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px -6px 42px 8px rgba(0,0,0,0.75);
  z-index: 1000;
  transition: .5s ease;
}

.nav_list.show-menu {
  bottom: -1rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  color: #fff;
}
.home_icon {
  font-size: 1.355rem;
  align-self: center;
}

.menu_contact {
  position: absolute;
  bottom: 3%;
  left: 3%;
}
}
.menu_contact span {
  border: 2px solid var(--second-color);
  padding: .65rem;
  border-radius: 40px;
}

/*=============== HERO SECTION ===============*/
.hero{
  height: 100vh;
}

.hero_cont {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem;
}

.hero_text{
  text-align: center;
}

.name{
  font-size: 4.5rem;
  margin-bottom: 2.5rem ;
}

.dev{
  font-size: 1.5rem;
  font-style: italic;
}

.home_social{
  margin-top: 2rem;
  font-size: 1.56rem;
}

.social_link{
  color: #fff;
  margin: 0 .75rem;
}


.hero_img{
  position: relative;
  text-align: center;
  margin-bottom: 45%;
}

.pc_hero{
  position: relative;
  width: 65%;
}

.hero_front {
  z-index: 100;
}

.hero_behind {
  opacity: .255;
  z-index: 0;
}

.mysql_hero,.html_hero,.css_hero ,
.js_hero,.git_hero,.ang_hero,
.laravel_hero,.pyt_hero,.react_hero {
  width: 12%;
  position: absolute;
}

.php_hero{
  position: absolute;
  width: 15%;
  top: 19%;
  right: 22%;
}

.mysql_hero{
  top: 43%;
  right: 22%;
  filter: invert(1);
}

.html_hero{
  bottom: 3%;
  left: 15%;
}

.css_hero {
  bottom: 3%;
  right: 15%;
}

.js_hero{
  top: 7%;
  left: 5%;
}

.ang_hero{
  top: 45%;
  right: 10%;
}

.laravel_hero{
  left: 35%;
}

.pyt_hero {
  left: 45%;
  top: 40%;
}

.react_hero {
  left: 9%;
  bottom: 30%;
}


