@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto+Mono:ital,wght@0,300;1,400&display=swap');
  
  /* CSS variables */
   :root{

    /* ======= Colors ========*/
    --first-color: #031525;
    --second-color: #89eeee; 
    --text-color: #fff;
    --text-2nd-color: #c2c2c2; 
    
    /* ======= Fonts ========*/
    --first-font: 'Fira Sans', sans-serif;
    --text-font: 'Roboto Mono', monospace;
    /* ======= Weight ========*/
    --semi-bold: 300;
    --bold:400
    /* ======= font-style ========*/
    --italic: italic;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: var(--first-color);
  font-family: var(--text-font);
  color: var(--text-color);
}


html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4 {
  font-family: var(--first-font);
  color: var(--second-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.main {
  overflow-x: hidden;
}
.section {
  padding: 3rem 0 2.5rem;
}

.flex{
  display: flex;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.container {
  max-width: 968px;
}

/*=============== HEADER ===============*/
/* NAV */
@media screen and (max-width: 767px){


.nav_toggle{
  position: fixed;
  font-size: 1.5rem;
  cursor: pointer;
  right: 1rem;
  bottom: 2.5%;
  z-index: 200;
}
.nav_list{
  position:fixed;
  height: 17vh;
  column-gap: 4rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-color: #0e263b;
  margin: 1rem;
  padding: 1rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  bottom: -100%;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 3px -6px 42px 8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px -6px 42px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px -6px 42px 8px rgba(0,0,0,0.75);
  z-index: 1000;
  transition: .5s ease;
}

.nav_list.show-menu {
  bottom: -1rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  color: #fff;
}
.home_icon {
  font-size: 1.355rem;
  align-self: center;
}

.menu_contact {
  position: absolute;
  bottom: 3%;
  left: 3%;
}
}
.menu_contact span {
  border: 2px solid var(--second-color);
  padding: .65rem;
  border-radius: 40px;
  color: #fff;
}

/*=============== HERO SECTION ===============*/
.hero{
  height: 100vh;
}

.hero_cont {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem;
}

.hero_text{
  text-align: center;
}

.name{
  font-size: 4.5rem;
  margin-bottom: 2.5rem ;
}

.dev{
  font-size: 1.5rem;
  font-style: italic;
}

.home_social{
  margin-top: 2rem;
  font-size: 1.56rem;
}

.social_link{
  color: #fff;
  margin: 1.5rem 0;
  text-align: center;
}





.hero_img{
  position: relative;
  text-align: center;
  margin-bottom: 15vh;
}

.pc_hero{
  position: relative;
  width: 65%;
}

.hero_front {
  z-index: 100;
}

.hero_behind {
  opacity: .255;
  z-index: 0;
}

.mysql_hero,.html_hero,.css_hero ,
.js_hero,.git_hero,.ang_hero,
.laravel_hero,.pyt_hero,.react_hero {
  width: 12%;
  position: absolute;
}

.php_hero{
  position: absolute;
  width: 15%;
  top: 19%;
  right: 22%;
}

.mysql_hero{
  top: 43%;
  right: 22%;
  filter: invert(1);
}

.html_hero{
  bottom: 3%;
  left: 15%;
}

.css_hero {
  bottom: 3%;
  right: 15%;
}

.js_hero{
  top: 7%;
  left: 5%;
}

.ang_hero{
  top: 45%;
  right: 10%;
}

.laravel_hero{
  left: 35%;
}

.pyt_hero {
  left: 45%;
  top: 40%;
}

.react_hero {
  left: 9%;
  bottom: 30%;
}

/*=============== PROJECTS ===============*/

.project_scrub,.project_scrub2{
  font-family: var(--first-font);
  font-size: 7rem;
  color: var(--text-2nd-color);
  /* position: absolute; */
  opacity: 0.3;
  left: 10rem;
}

.project_scrub3{
  font-family: var(--first-font);
  font-size: 500%;
  color: var(--text-2nd-color);
  /* position: relative; */
  opacity: 0.3;
  left: -10rem;
}


.title {
  text-align: center;
  margin: 3rem;
  font-family: var(--text-font);
  font-style: italic;
  font-size: 2rem;
  color: #fff;

}

.project_card {
  position: relative;
  border-radius: 15px;
  height: 250px;
  overflow: hidden;
  width: 90%;
  max-width: 350px;
}

.project_img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 10%;
  transition: .2s ease;
}

.project_img:hover{
  transform: scale(1.5);
  opacity: 0;
}


.project_info{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  z-index: -1;
  transition: .2s ease;
  background-color: #19354d;
}

.project_desc{
  text-align: center;
  padding: .5rem;
}

.project_button {
  display: flex;
  align-content: center;
  width: 100%;
}

.project_link {
  border: 1px solid var(--second-color);
  padding: .65rem;
  margin: 1rem auto;
  border-radius: 40px;
  color: #fff;
}

/*=============== Technologies ===============*/

.tech_cont {
  text-align: center;
}

.tech_comp{
  width: 60%;
  position: relative;
  top: 4.5rem;
  z-index: -1;
}

.current_tech{
  margin: 1.15rem;
  background-color: #0e263b;
  border-radius: 15px;
  padding: 1rem;
}

.title{
  margin: initial;
  margin-bottom: 1rem;
}

.tech_title{
  margin-bottom: .5rem;
}

.tech_imgs{
  flex-wrap: wrap;
  /* align-items: center; */
  column-gap: .940rem;
  row-gap: 3rem;
  padding: 1rem;
  margin: 3rem 0;
}

.tech_img{
  width: 5rem;
}
/*=============== About me ===============*/
#about-me {
  margin: 4rem ;
  position: relative;
}

.title_scrub {
  font-family: var(--first-font);
  font-size: 7rem;
  position: absolute;
  color: var(--text-2nd-color);
  opacity: 0.1;
  top: 50%;
  left: -90%;
  transform: rotate(90deg);
  z-index: -1;
  width: 300%;
}

.img_cont{
  position: relative;
}
.about_img{
  position: relative;
  z-index: 100;
  border: 2px solid var(--second-color);
  background-color: var(--first-color);
}

.about_square{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15%;
  right: -15%;
  border: 2px solid var(--second-color);
}

.about_info{
  margin-top: 5rem;
  line-height: 1.8rem;
}
/*=============== Contact me ===============*/
.contact_container{
  background-color: #0e263b;
  padding: 1rem;
}

.contact_link_cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

input,textarea {
  border: none;
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  background-color: transparent;
  border-bottom: 3px solid var(--second-color);
  color: #fff;
  font-size: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

.send_btn{
  display: block;
  padding: 1rem;
  width: initial;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  border: initial;
  background-color: var(--first-color);
  font-family: var(--text-font);
  font-style: italic;
}

/*=============== Media Queries ===============*/
 /* For small devices  */
 @media screen and (max-height: 660px), screen and (max-width: 340px){
  .name{
    font-size: 3.5rem;
  }

  .dev{
    font-size: 1.225rem;
  }

  .tech_imgs{
    column-gap: 3rem;
  }
  
 }
@media screen and (max-height: 767px) {

  .hero_img{
    position: relative;
    text-align: center;
    margin-bottom: 6vh;
  }
}

@media screen and (min-width: 351px){
  .tech_imgs{
    column-gap: 4.5rem;
  }

  .tech_comp {
    top: 6rem;
  }
}
@media screen and (min-width: 475px){
  .hero_img{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .tech_imgs{
    column-gap: 4.2rem;
  }

  .tech_comp{
    top: 7rem;
  }

  .title_scrub{
    bottom: -10rem;
  }

  
}
@media screen and (min-width: 533px){
  .about_square{
    left: 15%;
    width: 90%;
  }
}
@media screen and (min-width: 600px){
  .hero_img{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .name {
    font-size: 4rem;
  }

  .dev {
    font-size: 1.5rem;
  }

  .social_link{
    font-size: 1.8rem;
  }

  .title{
    font-size: 2.5rem;
  }

  .info_text{
    font-size: 1.225rem;
  }

  .tech_imgs{
    column-gap: 9rem;
  }

  .tech_comp{
    width: 40%;
    top: 6rem;
  }

  .about_square{
    right: -10%;
    width: 80%;
  }

  .about_info{
    font-size: 1.5rem;
    line-height: 2.7rem;
  }

  label{
    font-size: 1.2rem;
  }

  input,textarea{
    font-size: 1.2rem;
  }

  .send_btn{
    font-size: 1.2rem;
  }
}



@media screen and (min-width: 715px){
  .tech_imgs{
    column-gap: 11rem;
  }
  
  .about_square{
    left: 15%;
    width: 70%;
  }
  
  
}
